language: node_js
node_js:
- '4.4'
env:
- SAUCE_USERNAME=verticalsol
script:
- npm run build
- npm test
- if [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then 
    VERSION=$(jq '.version' package.json | sed -e 's/^"//' -e 's/"$//');
    git commit -m "New build. Bump npm version." --allow-empty;
    git tag v$VERSION;
    git push --quiet https://$GITHUBKEY@github.com/opentok/accelerator-screen-sharing-js v$VERSION;
  fi
deploy:
  provider: npm
  email: vsolutions@tokbox.com
  api_key: $NPM_TOKEN
  on:
    branch: master
  skip_cleanup: true
notifications:
  slack:
    secure: uyXK9zqfENTTYdP5ghoi3mRVv5aWxp6yj80MRP0qMTubtnOSvye0kCyY7Y/u8Ww+wE+9Xw2ZD6qLt0JEbO6HUAOOaXd6JsduxTwS4m1L/4qzPvBQztDAJRNvQx3nbh38uP0fuzZc1GRfTPNmDYUvczPRcWTduPZO82Kgzb4vafkss4thfKbnZqwLud/pghaJuN/LeESO2vmf0HxUlxTpnw4BYBUAnPo/9YUao7bvg2/3kxIpxApKZyxnoHeBcoNOOzzCmVBQnkfc4LMbXXg7ixwe0789gzOmr7ifeSBN6FVwNrw0rUNGQHA5tKnOclsfvHwdGHPoOLadZqbMi1QYXT+t89WpveBsbhBu3xqzZzHr7+LoBaP5Heg+FIeCyNqk7H1z24/7HtEDwc1dwIuGkphWYdHazSCNcjet1mVsVouM7Yg5SuUNN+pnAo74A5b2iR/PS7RoU09xAclAThwVV/txkz42nOvXka8DHKXEn8Kie8xplWt2T8aDq2jfHpI9I27/mxZl8GxqjPCbMCl9I1BE8FnnQP6FoFhj7EQ8+CYbxCA45XOYV0guv8D34/lTXmh2QozAxD3R/BOqaOn6V2aIb2szDb4KeM5t60qCGS6tuW7/hTt4xTcrrnfrfNDntXO2RkHnxONpuEGk0O1dLzL0Hdf8irq3vqUwE+Sk7GE=
addons:
  jwt:
    secure: aOwcPFBA5QVD7PfbyJ/Vm9f5oAbQECCrrYkViFe/Vt228V3/aUHvlGKr7n9hQkCOmTXhF4jpUXkji/1Qa0aZl1mRZI6qh3d5HpmEn5BxcwUAdOkJ+7ldIKyg4ZoSEEPRC1Hn6v4IXG41fH0yRRaiQOHrLUc/AI2P4Vk9PFJyeXe0aCv2jT9AIy6z1r0ez5GZWjOTIX+1+LxddTsXJS93e0KgJmBCCmZhGgAxwm6xrTBdwkyGZE7BufAgn1VQTAT8UGEokPKA3OAzRhqk78elbQ5JNOYBSYLcRYx697rDIAxnRSHXgQIwCeVyQ/InKhBCH2KLED5rmmGEKvnXUK8UapxtUe/1BACPIN6bPbzs6cMw+4jpj03VT1yhbXqmz357XZHZsiKYCkUghjCvSBLPf84oHcjGOk5dN/QpaLJEnQRih5kpVhGtxjU+pl3GvrpI+8F+bwNHazNyZBeAguv7teVjfq5EAObyjveCGdgze/qwUihSVwEvmZP//8ppwNfdxFtFnQDMUW3QTJjxWfapbOzqjl3A3RzCeRJ8B3adxHMx612+UDoq/C+sV2znmY+E+ZILb4elWY5i33Ftz8JVyf1m/UGCI5FdNBloZ7DsRuQtPL3TLNWck8jTuLLfdSHHq7kwaX6QvxK54OZBVsk6wKpO+1qnnGNzXOcIDOoQkcM=
